button {
  font: var(--label);
  color: var(--always-white);
  border: none;
  cursor: pointer;
  background: none;
}

#add-item-form { 
  & button {
    background-color: var(--color-brand);
    padding: .75rem 1.5rem;
    border-radius: .75rem;

    &:hover {
      background-color: var(--color-brand-hover);
    }
  }
}

a {
  display: inline-block;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}