main {
  max-width: 20.4rem;
  margin-inline: auto;
  margin-top: 4rem;
}

main header {
  margin-block: 2rem 2.75rem;
}

@media (width >= 80em) {
  main {
    max-width: 39.2rem;
    margin-top: 0;
  }
}